section.side-menu {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
}

nav.side-menu {
    width: 220px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    transition: width 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
button.side-menu{
    width: 100%;
    width: 40px;
    height: 40px;
    
    text-align: center;
    
}
button.side-menu svg.svg-inline--fa.fa-w-14 {
    height: 2em;
    width: 2em;
}
button.side-menu.hide {
    text-align: center;
    
}
ul.side-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.side-menu {
    margin-bottom: 0px;
}
li.side-menu.show{
    background-color: rgba(0,0,0,0.4);
}
a.side-menu {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    text-align: center;
}

a.side-menu:hover {
    background-color: #555;
    
}
.icon.side-menu{
    margin: 5px;
}
#content.side-menu {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.5s ease-in-out;
}

#menu-toggle.side-menu {
    background-color: #333;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
#menu-toggle.side-menu.hide{
    padding:8px 10px 10px 8px;
}

#menu-toggle.side-menu i {
    margin-right: 10px;
}

.side-menu .text.hide{
    display:none;
    transition: ease-in-out 1s;

}

#menu.side-menu.hide{
    width:50px;
}

@media (max-width: 768px) {
    a.side-menu span.text {
        display: none;
    }

    a.side-menu span.icon {
        display: inline-block;
    }
}