<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Add data</h1>
    <h2>Area: {{area}}</h2>
    <h2>Seção: {{sub_area}}</h2>
    <form action="" method="post"  enctype="multipart/form-data">
        <br>
        <label for="Description">Description</label>
        <input name="Description" id="Description" type="text">
        <br>
        <br>
        <label for="file">Selecione um arquivo:</label>
        <input type="file" name="file" id="file">
        <br>
        
        <button type="submit">Adicionar</button>
    </form>
    <br><br>
    <a href="/">Index</a>
    <br>
    <a href="/logout">Sair</a>
</body>

</html>